Welcome works
<div>
    <p>welcome {{name}}</p>
    
    Welcome to our Awesome App.
    
    </div>
    <div>
    You can manage your todos <a routerLink="/todos">here</a>
    </div>

    <div class="container">


        Click here to get a customized welcome message
        <button (click)="getWelcomeMessage()" class="btn btn-success">Get Welcome Message</button>
    </div>
    <div class="container" *ngIf=welcomeMessageFromService>
<h2> Your Customized Welcome Message</h2>
{{welcomeMessageFromService}}
    </div>  